* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #006699;
  text-decoration: none;
}

/* a:hover {
  text-decoration: underline;
} */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 3rem;
}

header .logo {
  display: flex;
  align-items: center;
  color: inherit;
}

header span.site-title {
  font-size: 1rem;
  font-weight: bold;
}

header .top-nav {
  list-style: none;
  padding: 0;
  display: flex;
}

header .top-nav li:not(:last-child) {
  padding-right: 1rem;
}