* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #006699;
  text-decoration: none;
}

/* a:hover {
  text-decoration: underline;
} */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  margin: 2rem;
  margin-bottom: 3rem;
}

header .logo {
  display: flex;
  align-items: center;
  color: inherit;
}

header span.site-title {
  font-size: 1rem;
  font-weight: bold;
}

header .top-nav {
  list-style: none;
  padding: 0;
  display: flex;
}

header .top-nav li:not(:last-child) {
  padding-right: 1rem;
}

.logo a {
  color: inherit;
}

.primary-bar {
  background-color: #f0f0f0;
  padding: 0 10px;
  position: relative;
}

.primary-bar #image {
  display: none;
}

.primary-bar h1 {
  font-size: 60px;
  text-transform: uppercase;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-items: space-between;
}

.posts a {
  position: relative;
  background-color: #D8D8D8;
  width: 248px;
  height: 124px;
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.posts a img {
  position: absolute;
  top: 0;
  left: 0;
}

.posts a span {
  position: absolute;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 248px;
  height: 124px;
  color: #FFF;
}

.posts a:hover span {
  background-color: rgba(0, 0, 0, 0.5);
}

footer {
  margin: 2rem;
}

.container {
  margin: 2rem;
}

.container h3 {
  color: #7B7B7B;
}

@media only screen and (min-width: 900px) {
  .primary-bar #image {
    display: block;
    position: absolute;
    right: 20px;
    top: -50px;
    width: 348px;
    height: 302px;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  }
}